/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/***********************************************
                 Reset file
***********************************************/
a, button, li, ul, ol{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}

/*----------------------------------------------*/


/***********************************************
                 Placeholder css
***********************************************/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d3d0d0;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d3d0d0;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #d3d0d0;
}
/*----------------------------------------------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: white;
}

html{
  height: 100%;
}

.modal{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

.greenhood-main-container{
  width: 100%;
}

.greenhood-main-sub-container{
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.left-content-main-container{
  padding-top: 84px;
}

.right-content-main-container{
  padding-top: 84px;
  width: 276px;
  height: 800px;
  position: relative;
}

.display-none{
  display:none;
}

.background-color{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(#030D20, #093537);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}