.crypto-chart-container{
  width: 691px;
}

.line-chart-main{
  margin: 30px 0 0 -17px;
}

.history-type-container{
  border-bottom: 1px solid #dbdbdb;
  margin: 10px 0 0 1px;
  padding-bottom: 10px;
}

.history-type{
  font-size: 13px;
  padding-bottom: 9.5px;
  margin-right: 24px;
}

.history-type:hover{
  cursor: pointer;
  color: #21ce99;
}

.history-type-active{
  font-size: 13px;
  padding-bottom: 9.5px;
  margin-right: 24px;
  color: #21ce99;
  border-bottom:  2px solid #21ce99;  
}

.tooltipDate{
  font-size: 12px;
}

.crypto-chart-name{
  margin: 0;
}

#coin-value{
  font-size: 20px;
  margin: 5px 0;
}

.third-component-crypto-chart{
  display: flex;
  font-size: 12px;
}

#coin-percentage{
  margin-right: 5px;
}

#coin-over-time{
  color: #8c8c8e;
}