.main-nav{
  display: flex;
  position:fixed;
  background-color: white;
  justify-content: center;
  width: 100%;
  z-index: 1000;
}

.main-nav-container{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 1192px;
}

.left-nav{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  width: 81px;
  margin-right: 80px;
}

.left-nav-user{
  display: flex;
  align-items: center;
  width: 50px;
  margin-right: 10px;
}

.logo{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 17.5px;
}

.logo:hover{
  color: #21ce99;
}

.navLogo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}

.navLogo:hover{
  border: 1px solid #21ce99;
}

.mid-nav{
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
  align-items: center;
  width: 300px;
}

.mid-nav a:hover{
  color: #21ce99;
}

.nav-header-text{
  margin-right: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.right-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
}

.right-nav > a.nav-signup-button{
  width: 59px;
}

.right-nav > a.nav-login-button{
  width: 47px;
}

.nav-login-button{
  background-color: transparent;
  border: 0;
  font-weight: bolder;
  font-size: 16px;
}

.nav-login-button:hover{
  background-color: transparent;
  border: 0;
  font-weight: bolder;
  font-size: 16px;
  color: #21ce99;
  cursor: pointer;
}

.nav-signup-button{
  padding: 15px 24px;
  border-radius: 36px;
  background-color: #21ce99;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.nav-signup-button:hover{
  padding: 15px 24px;
  border-radius: 36px;
  background-color: #21ce99;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 5px 5px 10px 2px #dbdbdb;
  cursor: pointer;
}

.nav-home-link{
  font-size: 13px;
  font-weight: bolder;
}

.nav-home-link:hover{
  cursor: pointer;
  color: #21ce99;
}

.nav-user-button{
  font-size: 13px;
  font-weight: bolder;
  padding: 8px 0;
}

.nav-user-button:hover{
  cursor: pointer;
  color: #21ce99;
}

.nav-user-button-clicked{
  font-size: 13px;
  font-weight: bolder;
  padding: 8px 0;
  color: #21ce99;
  border-bottom: 2px solid #21ce99;
}

.mid-nav-user{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-right: 20px;
}

.right-user-nav{
  max-width: 210px;
  width: 100%;
  margin-right: 5px;
}