.news-main-container{
  display: flex;
  padding: 10px 10px 10px 0;
  justify-content: space-between;
  width: 700px;
}

.news-image > img{
  width: 175px;
  height: 140px;
}

.news-content-container{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 134px;
  margin-left: 24px;
}

.news-content-container{
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.news-source-time{
  display: flex;
  font-size: 13px;
  letter-spacing: .25px;
  line-height: 19px;
  margin-bottom: 5px;
}

.news-time{
  margin-left: 5px;
  color: #8c8c8e;
}

.news-title{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.news-description{
  font-size: 15px;
  font-weight: 90;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: unset;
  height: 3.5em;
}