.signup-form-container{
    min-height: 635px;
    min-width: 525px;
    max-width: 726px;
    margin: 0 auto;
    padding: 0 80px 0 40px;
}

.signup-logo{
    margin: 35px 0 35px -15px;
}

span.signup-header{
    font-size: 40px;
    font-weight: 395;
    margin: 5px 0 10px;
    font-family: 'Roboto', sans-serif;
    word-wrap:break-word;
}
.signup-header-phrase{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 395;
    word-wrap:break-word;
}

.signup-form{
    display: flex;
    flex-direction: column;
}

.signup-input{
    background: #fff;
    padding: 10px 18px 10px 18px;
    margin: 15px 0 15px;
    color: #040d14;
    width: 92%
}

.input-lg{
    height: 14px;
    padding: 15px 16px;
    font-size: 17px;
    line-height: 1.33;
    border-radius: 4px;
    border: 1px solid #b1bfc4;
    font-weight: lighter;
}

.input-lg:focus{
    outline: none !important;
    border:1px solid #21ce99;
}

.fname-signup{
    margin-right:20px;
}

.name-signup-width{
    width: 42.2%;
}

.signup-button{
    width: 99%;
    padding: 12px 0 12px;
    border-radius:  8px;
    background-color: #21ce99;
    color: #fff;
    font-size: 16.5px;
}

.signup-button:hover{
    cursor: pointer;
    width: 99%;
    padding: 12px 0 12px;
    border-radius:  5px;
    background-color: #26AF84;
    color: #F4F4F4;
    font-size: 16.5px;
}

.signup-form-link{
    margin-top: 30px;
    color: #b1bfc4;
    text-align: center;
}

.signup-form-link > a{
    margin-top: 30px;
    color: #21ce99;
}

.signup-form-link > a:hover{
    margin-top: 30px;
    color: #4aeebd;
}

@media only screen and (max-width:800px) {
    .name-signup-width{
        width: 41.9%;
    }
}

@media only screen and (max-width:780px) {
    .name-signup-width{
        width: 41.4%;
    }
}

@media only screen and (max-width: 685px) {
    .name-signup-width{
        width: 92%;
    }
}